## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: grub-live
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Whonix/grub-live
Vcs-Browser: https://github.com/Whonix/grub-live
Vcs-Git: https://github.com/Whonix/grub-live.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: grub-live-initramfs-tools
Provides: grub-live-boot, boot-live
Architecture: all
Depends: initramfs-tools,
 live-boot,
 live-boot-initramfs-tools,
 live-tools,
 ${misc:Depends}
Description: grub live initramfs-tools dependencies
 initramfs-tools version metapackage for grub-live
 .
 See also grub-live package.

Package: grub-live-dracut
Provides: grub-live-boot, boot-live
Architecture: all
Depends: dracut,
 ${misc:Depends}
Description: grub live dracut dependencies
 Dracut version metapackage for grub-live.
 .
 See also the package grub-live.

Package: grub-live
Provides: grub-live-boot, boot-live
Architecture: all
Depends: grub-live-initramfs-tools | grub-live-dracut,
 ${misc:Depends}
Description: grub live boot menu entry
 Allows booting the system in live mode. Meaning, no persistent modifications
 will be written to the disk. All changes stay in RAM.
 .
 Adds a grub live boot menu entry.
 .
 Existing grub boot entries stay unmodified.
 .
 No claims are made with regard to anti forensics.
